body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
a,
em {
    font-family: 'robotoregular', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

header .logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header .logos img {
    width: 175px;
    height: 100%;
}

.sub-main-title {
    margin: 0;
    padding: 15px 0;
    color: white;
    background-color: #555;
    font-size: 1.3em;
    font-weight: lighter;
    text-align: center;
}

h2 {
    color: blue;
    font-size: 1.3em;
    text-align: left;
}

p {
	color: black;
	font-size: 1em;
	text-align: justify;
}

a {
    color: blue;
    font-style: italic;
}

em {
	font-style: normal;
	text-decoration: underline;
}
