h1,
h2,
p,
a,
em {
    font-family: georgia, arial, "times new roman", sans-serif;
}

h1 {
    color: black;
    background-color: rgb(42, 81, 238);
    background-color: rgba(42, 81, 238, 0.9);
    font-size: 2em;
    text-align: center;
}

h2 {
    color: blue;
    font-size: 1.3em;
    text-align: left;
}

p {
	color: black;
	font-size: 1em;
	text-align: justify;
}

a {
    color: blue;
    font-style: italic;
}

em {
	font-style: normal;
	text-decoration: underline;
}

.image-univ-labo {
	text-align: center;
}